.section_tittle {
  font-family: "Playfair Display", serif;
  color: $color-primary;
  font-weight: 800;
  font-size: 300%;
}

.subtittle-font {
  font-family: "Playfair Display", serif;
  color: $color-secundary;
  font-weight: 800;
  font-size: 200%;
}

.testimonio-parrafo {
  padding-left: 10%;
  padding-right: 10%;
}
